/* AddRecipe.css */

.add-recipe {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  background-color: #f4f4f4;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 6rem;
}

.add-recipe h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}

.add-recipe form {
  display: flex;
  flex-direction: column;
}

.add-recipe label {
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.add-recipe input[type="text"],
.add-recipe textarea {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

.add-recipe input[type="text"]::placeholder,
.add-recipe textarea::placeholder {
  color: #999;
}

.add-recipe input[type="text"] {
  width: 100%;
}

.add-recipe textarea {
  width: 100%;
  height: 200px;
}

.add-recipe button[type="submit"],
.add-recipe button[type="button"] {
  background-color: #c94d46;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-recipe button[type="button"] {
  background-color: #c94d46
}

.add-recipe button[type="submit"]:hover,
.add-recipe button[type="button"]:hover {
  background-color: #c94d46
}

/* Additional styling for ingredient inputs */
.add-recipe .ingredient-inputs {
  display: flex;
  flex-direction: column;
}

.add-recipe .ingredient-inputs input[type="text"] {
  width: 100%;
  margin-bottom: 15px;
}

.add-recipe .ingredient-inputs button {
  align-self: flex-start;
  background-color: #c94d46;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-recipe .ingredient-inputs button:hover {
  background-color: #c94d46
}

@media (max-width: 768px) {
  .add-recipe {
    margin-top: 4rem;
  }
}
